<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/x-icon" href="../imgs/logo.png">
    <meta name="viewport" content="initial-scale=1,maximum-scale=3,minimum-scale=1,user-scalable=no">
    <title>Overleaf</title>
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link rel="stylesheet" type="text/css" href="../css/app.css">

    <link rel="stylesheet" href="libs/font-awesome/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap" rel="stylesheet">
    <script src="js/api.js"></script>
    <script src="js/index.js"></script>
</head>

<body>
    <div id="loginModal" class="modal">
        <div class="box">
            <h2>Log in to Overleaf</h2>
            <span class="close">&times;</span>
            <div class="input">
                <input id="emailLogin" type="text" placeholder="Type your email" />
            </div>
            <div class="input">
                <input id="passwordLogin" type="password" placeholder="Type your password" />
            </div>
            <div class="input">
                <button id="btnLogin">Login</button>
            </div>
        </div>
    </div>

    <div id="signupModal" class="modal">
        <div class="box">
            <h2>Register in Overleaf</h2>
            <span class="close">&times;</span>
            <div class="input">
                <input id="nameSignup" type="text" placeholder="Name"/>
            </div>
            <div class="input">
                <input id="emailSignup" type="text" placeholder="Type your email"/>
            </div>
            <div class="input">
                <input id="passwordSignup" type="password" placeholder="Type your password"/>
            </div>
            <div class="input">
                <button id="btnSignup">Sign Up</button>
            </div>
        </div>
    </div>

    <div id="addModal" class="modal">
        <div class="box">
            <h2>Add a template</h2>
            <span class="close">&times;</span>
            <div class="input">
                <input type="text" placeholder="Template name" />
            </div>
            <div class="input">
                <input type="text" placeholder="Template description" />
            </div>
            <div class="input">
                <select id="icon">
                    <option value="fa-address-book">Book</option>
                    <option value="fa-envelope-open">Envelope</option>
                    <option value="fa-id-card">Card</option>
                    <option value="fa-bars">Bars</option>
                </select>
            </div>
            <div class="input">
                <button id="btnAdd">Add</button>
            </div>
        </div>
    </div>

    <section id="header">
        <div class="logo">
            <img src="./imgs/overleaf-white.svg" width="250px" height="auto">
        </div>
        <div class="menu">
            <ul>
                <!-- <li><a href="#feature">Features & Benefits</a></li> -->
                <li><a href="#template">Templates</a></li>
                <li><a href="#plans">Planos & Preços</a></li>
                <li><a href="#help">Ajuda</a></li>
                <li  id="btnSignupModal" class="main-button"><a href="#register">Register</a></li>
                <li id="btnLoginModal" class="main-button"><a href="#login">Login</a></li>
            </ul>
        </div>

        <!-- TODO menu hambuguer bar -->
        <!-- <button type="button" data-toggle="collapse"
            data-target="[data-ol-navbar-main-collapse]"><i class="fa fa-bars"
                aria-hidden="true"></i></button> -->
    </section>

    <section id="app">

        <div class="searchTemplate">
            <div>
                <input id="searchInput" type="search" placeholder="Search a template" />
                <button id="btnSearch">Search</button>
                <button id="btnAddModal">ADD</button>
            </div>
        </div>
            
        <div class="features">
            <div id="content" class="cards">
               
            </div>
        </div>
    
    </section>

    <section id="container">
        <main>
            <h1>LaTeX<span>,Evoluído</span></h1>
            <p>O editor LaTeX fácil de usar, online e colaborativo</p>
            <div class="main-image"></div>
        </main>

        <div class="depoiment">
            <h3>Overleaf is used by over eight million students and academics at 3,600 institutions worldwide</h3>
            <div class="block">
                <div class="who">
                    <img src="imgs/friend.jpeg" alt="Friend Man">
                </div>
                <div class="text">
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Just want to say that I am really grateful for
                        Overleaf, it has enabled a slew of research and teaching development
                        in my work that would have been annoyingly difficult before. Even people who don’t know LaTeX
                        are participating with
                        me
                        on research proposals and that’s saying something if you know what LaTeX is like for the
                        uninitiated. Thanks. And
                        thanks for the support!!</p>
                    </br>
                    <p>- Professor James Friend of the Medically Advanced Devices Lab, University of California, San
                        Diego</p>
                </div>
            </div>
        </div>

        <div class="features">
            <div class="cards">
                <div class="card">
                    <div>
                        <i class="fa fa-group fa-4x icon-accent" aria-hidden="true"></i>
                    </div>
                    <div class="desc">
                        <h3>Colaboração</h3>
                        <p>Trabalhe junto em uma única versão</p>
                        <p>Veja a edição dos colaboradores real time</p>
                    </div>

                </div>
                <div class="card">

                    <div class="desc">
                        <h3>Facilidade de Uso</h3>
                        <p>Sem instalação complicada do LaTeX</p>
                        <p>Todos os pacotes e modelos que você precisa</p>
                    </div>
                    <div>
                        <i class="fa fa-thumbs-up fa-4x icon-accent" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="card">
                    <div>
                        <i class="fa fa-history fa-4x icon-accent" aria-hidden="true"></i>
                    </div>
                    <div class="desc">
                        <h3>Histórico do documento</h3>
                        <p>Veja o que foi adicionado e removido</p>
                        <p>Restaurar para qualquer versão antiga</p>
                    </div>

                </div>
                <div class="card">

                    <div class="desc">
                        <h3>Trabalhe de qualquer lugar</h3>
                        <p>Acesse seu trabalho de qualquer lugar do mundo</p>
                        <p>Trabalhe offline e sincronize seus arquivos via Dropbox e GitHub</p>
                    </div>
                    <div>
                        <i class="fa fa-globe fa-4x icon-accent" aria-hidden="true"></i>
                    </div>
                </div>

            </div>
        </div>


        <div class="institutions">
            <h2>Overleaf is used at institutions worldwide, including:</h2>
            <div class="cards">
                <div class="card">
                    <img src="imgs/queensland.png" alt="queensland" width="150px" height="auto">

                </div>
                <div class="card">
                    <img src="imgs/caltech.png" alt="queensland" width="150px" height="auto">

                </div>
                <div class="card">
                    <img src="imgs/york.png" alt="queensland" width="150px" height="auto">

                </div>
                <div class="card">
                    <img src="imgs/agder.png" alt="queensland" width="150px" height="auto">
                </div>
            </div>

            <div class="link">
                <p><a href="https://pt.overleaf.com/for/universities">View more institutions using Overleaf</a></p>
            </div>
        </div>

        <div class="details">

            <div class="card">
                <div class="header">
                    <h2>Facilidade de Uso</h2>
                </div>
                <div class="body">
                    <p>
                        Não há nada complicado ou difícil para instalar, e você pode começar a usar LaTeX agora mesmo,
                        mesmo que nunca tenha
                        visto isso antes. Overleaf vem com um completo, ambiente LaTex pronto para usar que roda em
                        nossos servidores.

                        Com Overleaf você tem o mesmo aplicativo onde quer que vá. Trabalhando com seus colegas e
                        estudantes no Overleaf, você
                        sabe que não terá problema de inconsistência ou conflito de pacotes.

                        Nós temos suporte para todos os recursos LaTeX, incluindo inserção de imagens, bibliografias,
                        equações e muito mais!
                        Leia sobre todos os recursos interessantes que você pode usar no Overleaf em nosso Guias LaTeX.
                    </p>
                    </br>
                    <div>
                        <div class="alert">
                            <p>
                                Existem milhares de Modelos em nossa galeria de modelos, assim é fácil começar, mesmo
                                que você esteja escrevendo um
                                artigo de revista, tese, currículo ou outra coisa.
                            </p>
                            <p class="btn"><a href="https://pt.overleaf.com/templates">Ver modelos</a></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="header">
                    <h2>Colaboração</h2>
                </div>
                <div class="body">
                    <p>
                        Não há nada complicado ou difícil para instalar, e você pode começar a usar LaTeX agora mesmo,
                        mesmo que nunca tenha
                        visto isso antes. Overleaf vem com um completo, ambiente LaTex pronto para usar que roda em
                        nossos servidores.

                        Com Overleaf você tem o mesmo aplicativo onde quer que vá. Trabalhando com seus colegas e
                        estudantes no Overleaf, você
                        sabe que não terá problema de inconsistência ou conflito de pacotes.

                        Nós temos suporte para todos os recursos LaTeX, incluindo inserção de imagens, bibliografias,
                        equações e muito mais!
                        Leia sobre todos os recursos interessantes que você pode usar no Overleaf em nosso Guias LaTeX.
                    </p>
                    <div>
                        <div class="code">
                            <code>
                                <span class="highlight">\begin</span>{document}<br><br>Trabalhe diretamente com seus colaboradores
                                <span class="real-time-example">in real time</span><br><br><span
                                    class="highlight">\end</span>{document
                            </code>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="header">
                    <h2>Histórico do documento</h2>
                </div>
                <div class="body">

                    <div>
                        <div class="code">
                            <code>
                            <span class="highlight">\begin</span>{document}<br><br>Veja quais alterações foram feitas
                            <span class="added">adicionado</span>
                            e
                            <span class="removed">removido</span>.<br><br><span class="highlight">\end</span>{document}
                                                </code>
                        </div>
                    </div>

                    <p>
                        Overleaf incluí o histórico de todas as alterações para você ver exatamente quem alterou o quê e
                        quando. Torna-se extremamente fácil se manter atualizado acerca do progresso dos seus
                        colaboradores e você pode revisar os trabalhos recentes.

                        Em modo colaborativo ou sozinho, alguns enganos são feitos. Reverter para versões anteriore é
                        simples e remove o risco de perder trabalho ou se arrepender de uma alteração.
                    </p>

                </div>
            </div>



        </div>

    </section>

    <footer>
        <div class="main">
            <div class="row">
                <ul class="col-A">
                    <li>© 2021 Overleaf</li>
                    <li><strong class="text-muted">|</strong></li>
                    <li><a href="https://www.overleaf.com/legal">Privacy and Terms</a></li>
                    <li><a class="link-to-tab" href="https://www.overleaf.com/legal#Security">Segurança</a></li>
                    <li><a href="https://www.overleaf.com/contact">Entre em Contato</a></li>
                    <li><a href="https://www.overleaf.com/about">Sobre</a></li>
                    <li><a href="https://www.overleaf.com/blog">Blog</a></li>
                </ul>
                <ul class="col-B">
                    <li ng-non-bindable=""><a href="https://twitter.com/overleaf"><i class="fa fa-twitter-square"
                                aria-hidden="true"></i><span class="sr-only">Overleaf on Twitter</span></a></li>
                    <li ng-non-bindable=""><a href="https://www.facebook.com/overleaf.editor"><i
                                class="fa fa-facebook-square" aria-hidden="true"></i><span class="sr-only">Overleaf on
                                Facebook</span></a></li>
                    <li ng-non-bindable=""><a href="https://www.linkedin.com/company/writelatex-limited"><i
                                class="fa fa-linkedin-square" aria-hidden="true"></i><span class="sr-only">Overleaf on
                                LinkedIn</span></a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>

</html>